 {% load static %}

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clima</title>
    <link href="{% static 'css/api2.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/reloj.css' %}">
    <style>
       body{
        /* background-image: url({% static 'img/Fondo.webp' %}); */
        background-attachment: fixed ;
        background-repeat: no-repeat;
        background-size: 100% 100% ;
        height: 100vh;
        margin: 0;
        padding: 0;
      }
      .navbar-links li:hover {
        background-color: #1e96fc;
    } 
    </style>
  </head>

  <body onload="onLoad()">
    <div id="loader" class="loader">Loading...</div>
    <div id="container" class="contaier">
      <div class="block">
        <div id="location"></div>
        <div id="date"></div>
        <div id="description"></div>
      </div>
      
      <div class="block">
        <div class="information-container">
          Temperatura: <div class="information" id="temperature"></div>
        </div>
        <div class="information-container">
          Humedad: <div class="information" id="humidity"></div>
        </div>
        <div class="information-container">
          Presion: <div class="information" id="pressure"></div>
        </div>
        <button onclick = "location='{% url '/' %}'">
            Volver Al inicio
        </button>
        
      </div>
      <div class="container-clock">
        <h1 id="time">00:00:00</h1>
        <img src="{% static 'img/barometro.png' %}" alt="#">
    </div>
    <script src="{% static 'js/reloj.js' %}"></script>
    </div>
    <script src="{% static 'js/index.js' %}"></script>


  </body>
</html> 
