<!DOCTYPE html>
{% load static %}
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tienda</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
     <link rel="stylesheet" href="{% static 'css/index.css' %}">
     <style>
      body{
        background-image: url({% static 'img/Fondo.webp' %});
        background-attachment: fixed ;
        background-repeat: no-repeat;
        background-size: 100% 100% ;
        height: 100vh;
        margin: 0;
        padding: 0;
      }
      .navbar-links li:hover {
        background-color: #1e96fc;
    }
    </style>
  </head>
  <body>
    <nav class="navbar" style="background-color: transparent;">
      <div class="brand-title"><h1>Jardines B.A.</h1></div>
      <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </a>
      <div class="navbar-links">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="{% url 'Tienda' %}">Tienda</a></li>
          <li><a href="/Api">Clima</a></li>
          {% if user.is_authenticated %}
          <li><a href="/logout">Logout</a></li>
          <li><a href="/crud">Crud</a></li>
          {% else %}
          <li><a href="/signup">Signup</a></li>
          <li><a href="/signin">Signin</a></li>
          {% endif %}

        </ul>
      </div>
    </nav> 
    <div class="container">
      <div class="row">
        <div class="col-12 align-self-center"><h1 class="display-1">Tienda</h1></div>
      </div>
      <div class="row">
        <div class="col-8">
            <div class="row" style="padding: 10px 0;">
                <div class="col-12">
                    <div class="row">
                        {% for producto in productos %}
                        <div class="col-6">
                          <div class="card" style="height: 10rem; width: 23rem; margin: 5px 0px;">
                            <div class="card-body">
                              <h5 class="card-title">{{producto.nombre}}</h5>
                              <p class="card-text">{{producto.categoria}}</p>
                              <p class="card-text">💲{{producto.precio}}</p>
                             
                              
                              <a href="{% url 'Add' producto.id %}" class="btn btn-primary">Agregar al carrito🛒</a>
                            </div>
                          </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 text-center">

          {% include "carrito.html" %}
          
        </div> 
      </div>
    </div>

    


  </body>
</html>
